body {
    font-family: verdana;
    font-size: 20px;
    background-color: #ffe5ec
}

.topnav {
  background-color: #ffb3c6;
  overflow: hidden;
  align-content: center;
  align-content: center;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffc2d1;
  color: white;
}

img { 
   display: block;
  margin: auto;
}

.custom-orders {
  display: flex;
  justify-content: center;
}

.catering-promobtn {
  display: inline-block;
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  vertical-align: middle;
}

.catering-promobtn:hover {
  background-color: #ff1493;
}

.boxheading {
    height: 200px;
    border: 1px solid rgb(255, 0, 149);
    padding: 10px;
    margin: 10px;
}

/* Creating Boxes Side by Side to eachother */
.box {
	float: left;
	width: 25%;
	padding: 50px;
	border: 1px solid black;
  }

  .box2 {
	float: left;
	width: 50%;
	padding: 25px;
	border: 1px solid black;
  }
  
  
  .clearfix::after {
	content: "";
	clear: both;
	display: table;
  }
  .fltlt {
	float: left;
	margin-right: 8px;
   }
   .fltrt {
	float: right;
	margin-left: 16px;
   }
	.clear {
	clear: both;
   }

  .grid-container {
    display: grid;
    grid-template-areas:
      "catering-desc catering-form"
      "catering-menu catering-menu"
     " index-desc index-subdesc"
     "index-products index-products"
     "index-bottom index-bottom"
     "index-promo index-promo"
     "index-catering index-catering";
    grid-template-columns: 2fr 2fr;
    gap: 3px;
    background-color: #ffb3c6;
    padding: 5px;
  }

  .grid-container div {
    background-color:#ffc2d1;
    padding: 10px;
  }

  .grid-container div.catering-desc {
    grid-area: catering-desc;
  }

  .grid-container div.catering-form {
    grid-area: catering-form;
  }

  .grid-container div.catering-menu {
    grid-area: catering-menu;
  }

  .grid-container div.index-desc {
    grid-area: index-desc;
  }

  .grid-container div.index-subdesc {
    grid-area: index-subdesc;
  }

  .grid-container div.index-products {
    grid-area: index-products;
  }

  .grid-container div.index-promo {
    grid-area: index-promo;
  }

  .grid-container div.index-bottom {
    grid-area: index-bottom;
  }

  .grid-container div.index-catering {
    grid-area: index-catering;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .catering-promobtn a {
    color: white;
    text-decoration: none;
  }

  .hint {
    display: none;
  }

/* Footer */
footer {
    background: #fde8ef;
    border-top: 1px solid #f4a7bf;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}
